[submodule "lua-telegram-bot"]
	path = lua-telegram-bot
	url = https://github.com/cosmonawt/lua-telegram-bot.git
[submodule "lua-bit-numberlua"]
	path = lua-bit-numberlua
	url = https://github.com/davidm/lua-bit-numberlua.git
